* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    background-color: #8A8BC5;
}

.container {
    background: url('Oval.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    max-width: 1000px;
    padding: 0 1rem;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.wrapper {
    background-color: #fff;
    width: 365px;
    height: auto;
    border: 1px solid #979797;
    box-shadow: 50px 50px 50px -20px rgba(106, 108, 194, 0.49);
    border-radius: 10px;
    margin-bottom: 30px;
}

.inside-container {
    width: 95%;
    margin: auto;
    padding: 0 .5rem 1rem .5rem;
}

.clear {
    position: absolute;
    top: 3%;
    left: 85%;
}

#search {
    display: block;
    border: 1px solid #E6E9F1;
    background-color: #F4F6FE;
    border-radius: 30px;
    padding: 1rem 3rem;
    width: 95%;
    margin: 60px auto 50px auto;
    font-size: 1rem;
    transition: .3s ease;
}

#search:focus {
    box-shadow: 5px 5px 5px #cbced1, -8px -8px 8px white;
}

.search-container {
    position: relative;
}

.md-light {
    position: absolute;
    top: 30%;
    left: 5%;
    color: rgba(0, 0, 0, 0.3);
}

.p-1 {
    margin-bottom: 40px;
    text-align: center;
}

.p-2 {
    margin-bottom: 40px;
    text-align: center;
}

.button {
    padding: 1rem 0.8rem;
    background-color: #7C7ED5;
    width: 70%;
    margin: auto;
    display: block;
    color: #fff;
    box-shadow: 0 13px 20px -10px rgba(114, 117, 230, 0.65);
    margin-bottom: 2rem;
    font-size: 1rem;
    border-radius: 30px;
    border: 1px solid #979797;
    cursor: pointer;
    transition: .4s ease;
}

.button:hover {
    background-color: rgb(35, 38, 207);
    box-shadow: 5px 5px 5px #cbced1, -8px -8px 8px white;
}

.btm-section::before {
    display: block;
    content: "";
    height: .1px;
    width: 80%;
    margin: auto;
    background-color: #D8D8D8;
    border: 0.3px solid #DCDDED;
    margin-bottom: 30px;
}

.flex-container {
    display: flex;
    justify-content: start;
    width: 95%;
    margin: auto;
    margin-bottom: 80px;
}

.flex-container img {
    width: 30%;
    height: auto;
    border-radius: 50%;
    margin-right: 1rem;
}

.flex-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.flex-item2 {
    display: flex;
    justify-content: space-between;
}

.pro {
    background-color: #FF8132;
    color: #fff;
    padding: .3rem 0.5rem;
    margin-left: .6rem;
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: 600;
    border-radius: 8px;
}

.link {
    position: relative;
    text-align: center;
    margin-bottom: 1rem;
}

.link a {
    color: #202842;
    text-decoration: none;
    transition: 0.2s ease;
}

.link a:hover {
    color: rgb(45, 47, 189);
}

.logout {
    display: inline-block;
    position: absolute;
    left: 30%;
}

.top {
    margin: 60px auto 30px auto;
    width: 80%;
}

.top h2 {
    margin-bottom: 4px;
    color: #202842;
    font-weight: 500;
}

.top p {
    color: #7C7ED5;
}

.boxes {
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.boxes div {
    width: 45%;
    border: 1px solid #E6E9F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 1rem;
    transition: .3s ease;
}

.boxes div:hover {
    box-shadow: 5px 5px 5px #cbced1, -8px -8px 8px white;
}

.boxes span {
    font-size: 1.3rem;
    margin-bottom: .6rem;
}

.box-2 {
    background-color: #7C7ED5;
    box-shadow: 0px 10px 20px -10px rgba(114, 117, 230, 0.65);
    color: #fff;
}

.bottom-para {
    margin-top: 50px;
    margin-bottom: 30px;
}

.bottom-para p {
    font-size: 1rem;
    margin-bottom: 3px;
    letter-spacing: 0.02rem;
}

.bottom-para span {
    font-size: 1.2rem;
    font-weight: 100;
}

.first-para {
    margin-bottom: 40px;
}

.postn {
    position: relative;
}

.back {
    position: absolute;
    top: 3%;
    left: 10%;
}





@media screen and (max-width: 280px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 240px){
    html {
        font-size: 12px;
    }
    
    .flex-container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .flex-container img {
        margin-bottom: 15px;
    }

    .flex-item2 {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 345px) {
    .link a {
        margin-left: 20px !important;
    }
}


@media screen and (max-width: 310px) {
    .boxes {
        flex-direction: column;
        align-content: center !important;
    }

    .bottom-para {
        text-align: center;
    }
}






